@charset " UTF-8";

@import url('https://fonts.googleais.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

span#burger{
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: gray;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

section > p{
    padding-bottom: 2em;
}

section>ul{
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 133px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    text-align: center;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 0px black;
    max-width: 90vw;
}

section#img01{
    background-image: url(imagens/toni-bratincevic-purifier-v01-01a.jpg);
}

section#img02{
    background-image: url(imagens/2.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}